<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SmartStore 홈페이지</title>
</head>
<body>
<header>Title 이름입니다. <!-- A#2 -->
    <div>회원 가입</div> <!-- H#3 -->
    <div>about</div> <!-- A#8 -->
    <div>admin</div> <!-- H#6 -->
    <div>detail-page</div> <!-- A#11 [feature/detail-page]-->
</header>
<article>본문 입니다 <!-- A#3 -->
    <section>기사1</section>  <!-- A#5 -->
    <section>기사2</section>  <!-- A#5 -->
    <section>기사3</section>  <!-- A#5 -->
    <section>기사4</section>  <!-- A#5 -->

</article>
<footer>푸터 입니다 <!-- A#3 -->
</footer>
</body>
</html>